@media screen and (min-width: 900px) {
  .outer_div {
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #1e2020;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
  }
  .icon {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    color: rgb(161, 232, 237);
    font-size: 25px;
  }
  .icon p {
    color: rgb(161, 232, 237);
    font-size: 18px;
  }

  .ul_list,
  .ul_list1 {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .ul_list li,
  .ul_list1 li {
    color: rgb(161, 232, 237);
    font-size: 15px;
  }
  .icon_list {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logos {
    color: rgb(161, 232, 237);
    font-size: 20px;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    background-color: #1e2020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
  }
  .icon {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    color: rgb(161, 232, 237);
    font-size: 21px;
  }
  .icon p {
    color: rgb(161, 232, 237);
    font-size: 16px;
    font-weight: bold;
  }

  .ul_list {
    top: 3.15rem;
    right: 0;
    position: fixed;
    background-color: #1e2020;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .ul_list1 {
    display: none;
  }
  .ul_list li {
    color: rgb(161, 232, 237);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 2px 0px;
    width: 100%;
    background-color: #171919;
  }
  .icon_list {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20vw;
  }
  .logos {
    color: rgb(161, 232, 237);
    font-size: 17px;
  }
  .menu {
    color: rgb(161, 232, 237);
    font-size: 16px;
  }
}
@media screen and (max-width: 520px) {
  .outer_div {
    position: fixed;
    width: 100%;
    top: 0;
    height: 2.5rem;
    background-color: #1e2020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3vw;
  }
  .icon {
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    color: rgb(161, 232, 237);
    font-size: 19px;
  }
  .icon p {
    color: rgb(161, 232, 237);
    font-size: 14px;
  }

  .ul_list {
    top: 2.59rem;
    right: 0;
    position: fixed;
    background-color: #1e2020;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }
  .ul_list1 {
    display: none;
  }
  .ul_list li {
    color: rgb(161, 232, 237);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 2px 0;
    width: 100%;
    background-color: #171919;
  }

  .icon_list {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 8vw;
  }
  .logos {
    color: rgb(161, 232, 237);
    font-size: 15px;
  }
  .menu {
    color: rgb(161, 232, 237);
    font-size: 16px;
  }
}
